// Collection of all colours for easy change/access
// Light Mode
$light-contrast-light: hsl(50, 84%, 62%);
$light-contrast-mid: hsl(50, 100%, 47%);
$light-contrast-dark: hsl(40, 100%, 48%);

$app-secondary-contrast-light: hsl(180, 100%, 25%);

$browser-bg-light: hsl(218, 15%, 89%);
$browser-tab-light: hsl(0, 0%, 100%);
$browser-input-light: hsl(210, 14%, 95%);
$browser-menu-light: hsl(0, 0%, 100%);
$browser-font-light: hsl(220, 2%, 6%);
$browser-shadow-light: hsl(0, 0%, 63%);
$browser-highlight-light: hsl(204, 8%, 87%);

$app-bg-light: hsl(210, 10%, 88%);
$app-fg1-light: hsl(220, 13%, 95%);
$app-fg2-light: hsl(0, 0%, 100%);
$app-fg3-light: hsl(210, 11%, 93%);
$app-highlight-light: hsl(210, 9%, 91%);
$app-font-primary-light: hsl(240, 3%, 7%);
$app-font-secondary-light: hsl(212, 7%, 53%);
$app-shadow-light: hsl(240, 8%, 60%);

$browser-green-button-light: hsl(112, 67%, 54%);
$browser-amber-button-light: hsl(44, 95%, 61%);
$browser-red-button-light: hsl(3, 97%, 67%);

// Dark Mode
$dark-contrast-light: hsl(50, 100%, 76%);
$dark-contrast-mid: hsl(50, 100%, 60%);
$dark-contrast-dark: hsl(40, 100%, 50%);

$app-secondary-contrast-dark: hsl(180, 100%, 30%);

$browser-bg-dark: hsl(0, 0%, 6%);
$browser-tab-dark: hsl(0, 0%, 19%);
$browser-input-dark: hsl(0, 0%, 13%);
$browser-menu-dark: hsl(0, 0%, 15%);
$browser-font-dark: hsl(210, 1%, 84%);
$browser-shadow-dark: hsl(240, 7%, 9%);
$browser-highlight-dark: hsl(0, 0%, 31%);

$app-bg-dark: hsl(216, 7%, 14%);
$app-fg1-dark: hsl(223, 7%, 20%);
$app-fg2-dark: hsl(220, 8%, 23%);
$app-fg3-dark: hsl(220, 7%, 17%);
$app-highlight-dark: hsl(218, 8%, 27%);
$app-font-primary-dark: hsl(0, 0%, 95%);
$app-font-secondary-dark: hsl(223, 3%, 57%);
$app-shadow-dark: hsl(225, 8%, 1%);

$browser-green-button-dark: hsl(105, 76%, 48%);
$browser-amber-button-dark: hsl(47, 84%, 51%);
$browser-red-button-dark: hsl(359, 91%, 59%);
