$contrast-light: hsl(50, 100%, 76%);
$contrast-mid: hsl(50, 100%, 60%);
$contrast-dark: hsl(40, 100%, 50%);

$browser-bg-dark: hsl(0, 0%, 6%);
$browser-tab-dark: hsl(0, 0%, 19%);
$browser-input-dark: hsl(0, 0%, 13%);
$browser-menu-dark: hsl(0, 0%, 15%);
$browser-font-dark: hsl(210, 1%, 44%);
$browser-shadow-dark: hsl(210, 5%, 7%);

$browser-bg-light: hsl(218, 15%, 89%);
$browser-tab-light: hsl(0, 0%, 100%);
$browser-input-light: hsl(210, 14%, 95%);
$browser-menu-light: hsl(0, 0%, 100%);
$browser-font-light: hsl(220, 2%, 36%);
$browser-shadow-light: hsl(0, 0%, 73%);