@use './theme';
@use './typography';

@mixin standard-button($font: 1rem) {
    font-size: $font;
    padding: calc($font / 2) calc($font * 1.5);
    border-radius: 15px;border: none;
    margin: calc($font * 1);
    transition: background-color .2s ease, color .2s ease;

    &:hover {
        cursor: pointer;
    }
}