@use '../../abstracts' as *;

.about {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: row nowrap;
            
    @include themed() {
        background-image: linear-gradient(to left, t(app-shadow), t(app-shadow) 20%, transparent 50%);
        background-color: t(app-bg);

    }


    h2 {
        font-size: 2rem;
        font-weight: 200;
        margin-left: 4rem;
    }

    .category-choice {
        text-align: left;
        max-width: 800px;
        width: max-content;
        height: 100%;
        margin-right: 1rem;
        
        button {
            border: none;
            margin: 0rem;
            width: 100%;
            font-size: 1rem;
            height: 10%;
            z-index: 5;
            padding: 0.8rem;

            &:hover {
                cursor: pointer;
            }

            @include themed() {
                background-color: t(app-fg1);
                color: t(app-font-primary);
                box-shadow: 2px 2px 4px t(app-shadow);

                &:hover {
                    background-color: t(app-highlight);
                }
            }
        }
    }

    .card-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-flow: row wrap;
        width: 100%;
    }

    .skill-card {
        width: 300px;
        height: 125px;
        margin: 1rem;
        padding: 0.1rem 1rem;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        transition: .2s ease;

        &:hover {
            transform: scale(110%);
        }

        h4 {
            @extend %code-font;

            font-size: 1.2rem;

            &:hover {
                cursor: default;
            }
        }

        a {
            float: right;
            color: inherit;
            transition: .2s ease;
            font-size: 0.9rem;

            @include themed() {
                color: t(app-font-secondary);
            }

            &:hover {
                @include themed() {
                    color: t(contrast-dark);
                }
            }
        }

        .skill-details {
            text-align: left;
            width: 100%;
        }

        .dev-icon {
            height: 80%;
            margin-right: 1rem;
            font-size: 4rem;
            max-width: 35%;

            @include themed() {
                filter: drop-shadow(1px 1px 2px t(app-shadow));
            }
        }

        .skill-level {
            max-width: 100%;

            .level-indicator {
                margin: 0rem 1px;
                font-size: 0.8rem;

                @include themed() {
                    color: t(contrast-dark);
                }

                &.filled {
                    --fa-secondary-opacity: 1;
                }
            }
        }

        .skill-description-tooltip {
            position: absolute;
            width: 60%;
            height: auto;
            padding: .5rem;
            border-radius: 10px;
            z-index: 25;
            text-align: left;
            &:hover {
                cursor: default;
            }
            
            @include themed() {
                background-color: t(app-fg1);
                box-shadow: 2px 2px 10px t(app-shadow);
            }
        }

        @include themed() {
            background-color: t(app-fg2);
            box-shadow: 2px 2px 10px t(app-shadow);
        }
    }
    .about-carousel {
        width: 80%;
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-flow: column nowrap;
        overflow: hidden;

        .category-section {
            height: 100%;
            width: 100%;
            text-align: left;

            section {
                width: 100%;
                height: 100%;
                z-index: 10;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                flex-flow: column nowrap;
                padding: 1rem 0rem 0rem 2rem;
            }


            h3, .main-about-title {
                font-size: 3rem;
                padding-left: 3rem;
                font-weight: 700;
            }

            p {
                @extend %code-font;
                font-size: 1.4rem;
                padding-left: 4rem;
            }

            .card-container {
                align-items: flex-end;
                overflow-y: scroll;
                z-index: 2;
            }
        }

        .carousel-primary-enter {
            transform: translateY(100%);
            opacity: 0;
        }
        .carousel-primary-enter-active {
            transform: translateY(0%);
            opacity: 1;
            transition: all .5s ease;
        }
        .carousel-primary-exit-active {
            transform: translateY(100%);
            transition: all .5s ease;
            opacity: 0;
        }
        
        .carousel-secondary-enter {
            transform: translateY(100%);
            opacity: 0;
        }
        .carousel-secondary-enter-active {
            transform: translateY(2%);
            opacity: 1;
            transition: all .5s ease;
        }
        .carousel-secondary-exit-active {
            transform: translateY(100%);
            opacity: 0;
            transition: all .5s ease;
        }

        .background-svg {
            width: 100%;
            height: 100%;
            overflow: hidden;
            object-fit: contain;
            object-position: right top;
            position: absolute;
            padding: 3rem 0rem 3rem 3rem;

            &>svg {
                opacity: 0.2;
                max-height: 80%;
                object-fit: contain;
            }
            
            .carousel-background-enter {
                opacity: 0;
            }
            .carousel-background-enter-active {
                opacity: 0.3;
                transition: opacity .3s ease;
            }
            .carousel-background-exit-active {
                opacity: 0;
            }
        }

    }
}