@use '../../abstracts' as *;

.home {
    .top-bar {
        height: 3rem;
        margin: 0;
        padding: 4px 1.5%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @include themed() {
            background-color: t(app-fg2);
            color: t(app-font-primary);
            box-shadow: 0px 0px 5px t(app-shadow);
        }
    }

    .parallax {
        max-width: 96%;
        max-height: 80%;
    }

    
    section {
        width: 100%;
    }
    
    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        transform: translateY(-45rem);
        height: 0px;
        padding: 0rem 1rem;
        
        .logo {
            width: 25%;
            max-width: 95%;
            min-width: 200px;

            @include themed() {
                filter: drop-shadow(2px 2px 3px t(app-shadow));
            }
        }

        h2 {
            font-size: 3rem;
            text-align: left;
            font-weight: 600;
            margin-left: 2rem;
            line-height: 0rem;
            transform: translateY(3rem);

            @include themed() {
                color: t(app-font-secondary);
            }

            .title-name {
                font-weight: 900;
                font-size: 6rem;
                line-height: 0.2rem;

                @include themed() {
                    color: t(contrast-dark);
                    filter: drop-shadow(1px 1px 2px t(app-shadow));
                }
            }
        }

        @media (max-width: 1200px) {

            h2 {
                margin: 0rem auto;
            }

            .logo {
                margin: 1rem;
            }
        }

        @media (max-width: 1060px) {
            .h2 {
                width: 100%;
            }
            .logo {
                margin: -3rem auto -15rem auto;
            }
        }

        @media (max-width: 850px) {
            h2 {
                max-width: 90%;
                font-size: 2.5rem;

                .title-name {
                    font-size: 5rem;
                }

            }
        }

        @media (max-width: 600px) {
            .logo {
                margin: -12rem auto -10rem auto;
                width: 60%;
            }
        }

        @media (max-width: 280px) and (max-height: 653px) {
            .logo {
                margin: -2rem auto -14rem auto;
            }
        }

        @media (max-width: 360px) and (max-height: 740px) {
            .logo {
                margin: -3rem auto -10rem auto;
            }
        }

        @media (width: 768px) and (height: 1368px) {
            .logo {
                margin: -10rem auto -10rem auto;
                width: 60%;
            }
        }

        @media (max-width: 916px) and (max-height: 540px) {
            padding-top: 25rem;

            .logo {
                width: 20%;
            }

            h2 {
                width: 70%;
            }
        }

        @media (max-width: 400px) {
            h2 {
                max-width: 90%;
                font-size: 2.5rem;

                .title-name {
                    font-size: 4rem;
                    line-height: 3.2rem;
                }

            }

            .logo {
                width: 80%;
            }
        }
    }

    .cta-section {
        @extend %body-font;
        height: auto;
        padding: 3.4rem 0rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: $app-font-primary-light;

        @include themed() {
            background-color: t(contrast-dark);
            box-shadow: inset 0px 2px 6px t(app-shadow);
        }

        .cta-container {
            text-align: left;
            width: 100%;
        }
        
        .customer-problem {
            font-size: 2rem;
            font-weight: 300;
            width: 80%;
            max-width: 800px;
            margin: 2rem auto 2rem 11.5%;
        }
        
        .big-cta {
            text-align: left;
            margin: 0px 10%;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-around;
        
        h3 {
            @extend %heading-font;
            margin: 0;
            padding: 0;
            padding-left: 1.7rem;
            width: 50%;
            min-width: 22.2rem;
            color: #fff;
            font-size: 5rem;
            border-left: .3rem solid #fff;

            @include themed() {
                filter: drop-shadow(1px 1px 3px t(app-shadow));
            }
        }
        
        button {
            @extend %center-in-div;
            font-size: 2rem;
            font-weight: 600;
            width: fit-content;
            padding: .8rem;
            border: none;
            border-radius: 15px;
            transition: .2s ease;
            margin: 1rem;
            flex-flow: column nowrap;

            @include themed() {
                box-shadow: 2px 2px 10px t(app-shadow);
                background-color: t(app-fg2);
                color: t(app-font-primary);
            }

            .icon {
                margin: 0rem .6rem;
                font-size: 3rem;
            }

            span {
                margin: .3rem 1rem;
            }

            &:hover {
                cursor: pointer;

                @include themed() {
                    background-color: t(app-highlight);
                    box-shadow: none;
                }
            }

            &:active {

                @include themed() {
                    background-color: t(app-bg);
                    box-shadow: inset 1px 1px 3px t(app-shadow);
                }
            }
        }
        
        @media (max-width: 600px) {
            margin: 0;
        
           h3 {
                font-size: 2.5rem;
                border-left: none;
                padding-left: 0;
                text-align: center;
                width: 80vw;
            }
        
            button {
                padding: .8rem;
                font-size: 2rem;
            }
        }
    }
}
}