@use '../../abstracts' as *;

.home {
    .top-bar {
        height: 3rem;
        margin: 0;
        padding: 4px 1.5%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @include themed() {
            background-color: t(app-fg2);
            color: t(app-font-primary);
            box-shadow: 0px 0px 5px t(app-shadow);
        }
    }

    
    section {
        width: 100%;
    }
    
    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row nowrap;
        transform: translateY(-21rem);
        height: 0px;
        
        .logo {
            max-width: 95%;

            @include themed() {
                filter: drop-shadow(2px 2px 3px t(app-shadow));
            }
        }

        h2 {
            font-size: 3rem;
            text-align: left;
            font-weight: 600;
            margin-left: 2rem;
            line-height: 2.8rem;

            @include themed() {
                color: t(app-font-secondary);
            }

            .title-name {
                font-weight: 900;
                font-size: 6rem;
                line-height: 5rem;

                @include themed() {
                    color: t(contrast-dark);
                    filter: drop-shadow(1px 1px 2px t(app-shadow));
                }
            }
        }
    }

.cta-section {
        @extend %body-font;
        height: auto;
        padding: 3.4rem 0rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: $app-font-primary-light;

        @include themed() {
            background-color: t(contrast-dark);
        }

        .cta-container {
            text-align: left;
            width: 100%;
        }
        
        .customer-problem {
            font-size: 2rem;
            font-weight: 300;
            width: 80%;
            max-width: 800px;
            margin: 2rem auto 2rem 11.5%;
        }
        
        .big-cta {
            text-align: left;
            margin: 0px 10%;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-around;
        
        h3 {
            @extend %heading-font;
            margin: 0;
            padding: 0;
            padding-left: 1.7rem;
            width: 50%;
            min-width: 22.2rem;
            color: #fff;
            font-size: 5rem;
            border-left: .3rem solid #fff;

            @include themed() {
                filter: drop-shadow(1px 1px 3px t(app-shadow));
            }
        }
        
        button {
            @extend %center-in-div;
            font-size: 2rem;
            font-weight: 600;
            width: fit-content;
            padding: .8rem;
            border: none;
            border-radius: 15px;
            transition: .2s ease;
            margin: 1rem;
            flex-flow: column nowrap;

            @include themed() {
                box-shadow: 2px 2px 10px t(app-shadow);
                background-color: t(app-fg2);
                color: t(app-font-primary);
            }

            .icon {
                margin: 0rem .6rem;
                font-size: 3rem;
            }

            span {
                margin: .3rem 1rem;
            }

            &:hover {
                cursor: pointer;

                @include themed() {
                    background-color: t(app-highlight);
                    box-shadow: none;
                }
            }

            &:active {

                @include themed() {
                    background-color: t(app-bg);
                    box-shadow: inset 1px 1px 3px t(app-shadow);
                }
            }
        }
        
        @media (max-width: 600px) {
            margin: 0;
        
           h3 {
                font-size: 2.5rem;
                border-left: none;
                padding-left: 0;
                text-align: center;
                width: 80vw;
            }
        
            button {
                padding: .8rem;
                font-size: 2rem;
            }
        }
    }
}

    .floating-icons {
        width: 100%;
        height: 85%;
        overflow: hidden;
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
        justify-content: space-around;
        font-size: 2.5rem;

        .floating-icon {
            transform: translateY(3rem);
            --fa-secondary-opacity: 0.7;

            &:first-child {
                animation: 10s floatup linear 8s infinite;

                @include themed() {
                    color: t(contrast-dark);
                }
            }
            &:nth-child(2) {
                animation: 12s floatup linear 16s infinite;

                @include themed() {
                    color: t(app-font-secondary);
                }
            }
            &:nth-child(3) {
                animation: 14s floatup linear 2s infinite;

                @include themed() {
                    color: t(contrast-light);
                }
            }
            &:nth-child(4) {
                animation: 10s floatup linear 10s infinite;

                @include themed() {
                    color: t(app-font-primary);
                }
            }
            &:nth-child(5) {
                animation: 16s floatup linear 6s infinite;

                @include themed() {
                    color: t(app-font-secondary);
                }
            }
            &:nth-child(6) {
                animation: 12s floatup linear 4s infinite;

                @include themed() {
                    color: t(contrast-mid);
                }
            }
            &:nth-child(7) {
                animation: 10s floatup linear 12s infinite;

                @include themed() {
                    color: t(contrast-dark);
                }
            }
            &:nth-child(8) {
                animation: 12s floatup linear 16s infinite;

                @include themed() {
                    color: t(app-font-primary);
                }
            }
            &:nth-child(9) {
                animation: 14s floatup linear 8s infinite;

                @include themed() {
                    color: t(app-font-secondary);
                }
            }
            &:nth-child(10) {
                animation: 16s floatup linear 6s infinite;

                @include themed() {
                    color: t(contrast-light);
                }
            }
        }
    }
}

@keyframes floatup {
    0% {
        transform: translateY(3rem) rotate(320deg);
        opacity: 0.4;
    }

    40% {
        transform: translateY(-1200%) rotate(20deg);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}
