@use '../abstracts' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 18px;
}

.App {
    text-align: center;
    
    p {
        @extend %body-font;
    }

    h1, h2, h3, h4, h5, h6 {
        @extend %heading-font;
    }

    code {
        @extend %code-font;
    }

    input {
        @extend %body-font;
    }

    button {
        @extend %code-font;
    }

    
    a {
        text-decoration: none;   
    }
  }
