@use '../abstracts' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

.App {
    text-align: center;
  }
  
  // .App-logo {
  //   height: 40vmin;
  //   pointer-events: none;

  //   @include themed() {
  //       filter: drop-shadow(2px 2px 5px t(browser-shadow));
  //   }
  // }
  
  // @media (prefers-reduced-motion: no-preference) {
  //   .App-logo {
  //     animation: App-logo-spin infinite 20s linear;
  //   }
  // }
  
  // .App-header {
  //     transition: background-color .2s ease;
  //     min-height: 100vh;
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     justify-content: center;
  //     font-size: calc(10px + 2vmin);
      
  //     @include themed() {
  //         background-image: linear-gradient(t(browser-input), t(browser-bg));         
  //         color: t(browser-font);
  //       }
  // }
  
  // .App-link {
  //   color: #61dafb;
  // }
  
  // @keyframes App-logo-spin {
  //   from {
  //     transform: rotate(0deg);
  //   }
  //   to {
  //     transform: rotate(360deg);
  //   }
  // }
  
  // button {
  //   font-size: calc(10px + 2vmin);
  // }
  