@use '../../abstracts' as *;

.floating-icons {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: space-around;
    font-size: 2.5rem;

    .floating-icon {
        transform: translateY(3rem);
        --fa-secondary-opacity: 0.7;

        &:first-child {
            animation: 10s floatup linear 8s infinite;

            @include themed() {
                color: t(contrast-dark);
            }
        }
        &:nth-child(2) {
            animation: 12s floatup linear 16s infinite;

            @include themed() {
                color: t(app-font-secondary);
            }
        }
        &:nth-child(3) {
            animation: 14s floatup linear 2s infinite;

            @include themed() {
                color: t(contrast-light);
            }
        }
        &:nth-child(4) {
            animation: 10s floatup linear 10s infinite;

            @include themed() {
                color: t(app-font-primary);
            }
        }
        &:nth-child(5) {
            animation: 16s floatup linear 6s infinite;

            @include themed() {
                color: t(app-font-secondary);
            }
        }
        &:nth-child(6) {
            animation: 12s floatup linear 4s infinite;

            @include themed() {
                color: t(contrast-mid);
            }
        }
        &:nth-child(7) {
            animation: 10s floatup linear 12s infinite;

            @include themed() {
                color: t(contrast-dark);
            }
        }
        &:nth-child(8) {
            animation: 12s floatup linear 16s infinite;

            @include themed() {
                color: t(app-font-primary);
            }
        }
        &:nth-child(9) {
            animation: 14s floatup linear 8s infinite;

            @include themed() {
                color: t(app-font-secondary);
            }
        }
        &:nth-child(10) {
            animation: 16s floatup linear 6s infinite;

            @include themed() {
                color: t(contrast-light);
            }
        }
    }
}

@keyframes floatup {
    0% {
        transform: translateY(3rem) rotate(320deg);
        opacity: 0.4;
    }

    40% {
        transform: translateY(-1200%) rotate(20deg);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}
