/*
- - -
Web Developer Portfolio Site
Built by Tabitha Riley
https://www.tabithariley.co.uk/
https://www.github.com/tabitha-r/
*/
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
.home .cta-section, .dropdown-container .menu-item, .App p, .App input {
  font-family: "Plus Jakarta Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

.home .cta-section .big-cta h3, .App h1, .App h2, .App h3, .App h4, .App h5, .App h6 {
  font-family: "Plus Jakarta Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}

.about .skill-card h4, .about .about-carousel .category-section p, .App code, .App button {
  font-family: "Fira Code", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-weight: 400;
}

.home .cta-section .big-cta button, .page.not-found, .url-bar button {
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 18px;
}

.App {
  text-align: center;
}
.App a {
  text-decoration: none;
}

.App {
  width: 100vw;
  height: 100vh;
  padding: 1rem 1rem 0 1rem;
  transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
}
.App.theme--dark {
  background-color: #ffeb85;
}
.App.theme--light {
  background-color: #f0d54c;
}
@media (max-width: 600px) {
  .App {
    padding: 0;
  }
}
@media (max-width: 916px) and (max-height: 540px) {
  .App {
    padding: 0;
  }
}
@media (max-width: 1280px) and (max-height: 800px) {
  .App {
    padding: 0;
  }
}

.monitor {
  width: 100%;
  height: 98%;
  border: 1.1rem solid #d3cfca;
  border-bottom: 3rem solid #d3cfca;
  border-radius: 1.2rem;
  margin-bottom: 0rem;
  box-shadow: 0.1rem 0.1rem 0.6rem #726c69;
  overflow: hidden;
  background-color: #111015;
}
@media (max-width: 600px) {
  .monitor {
    border: none;
    height: 100%;
    border-radius: 0;
  }
}
@media (max-width: 916px) and (max-height: 540px) {
  .monitor {
    border: none;
    height: 100%;
    border-radius: 0;
  }
}
@media (max-width: 1280px) and (max-height: 800px) {
  .monitor {
    border: none;
    height: 100%;
    border-radius: 0;
  }
}

.monitor-stand {
  width: 25vw;
  height: 2%;
  background-image: linear-gradient(#726c69, #d3cfca);
  margin: 0rem auto;
}
@media (max-width: 900px) {
  .monitor-stand {
    display: none;
  }
}

.page {
  width: 100%;
  height: 90.4%;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: background-color 0.2s ease, color 0.2s ease;
  -webkit-transition: background-color 0.2s ease, color 0.2s ease;
  -moz-transition: background-color 0.2s ease, color 0.2s ease;
  -o-transition: background-color 0.2s ease, color 0.2s ease;
}
.theme--light .page {
  background-color: #dde0e3;
  color: #111112;
}
.theme--dark .page {
  background-color: #212326;
  color: #f2f2f2;
}
@media (max-width: 600px) {
  .page {
    height: 100%;
  }
}

.browser-tabs {
  margin: 0rem;
  width: 100%;
  height: 1.9rem;
  text-align: left;
  padding: 0.25rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: background-color 0.2s ease;
}
.theme--light .browser-tabs {
  background-color: #dfe2e7;
}
.theme--dark .browser-tabs {
  background-color: #0f0f0f;
}
.browser-tabs > svg {
  margin-right: 1.2rem;
}
.theme--light .browser-tabs > svg {
  fill: #f0f2f4;
  filter: drop-shadow(0px 0px 2px #a1a1a1);
}
.theme--dark .browser-tabs > svg {
  fill: #212121;
  filter: drop-shadow(0px 0px 2px #151519);
}
.browser-tabs .nav-tab {
  justify-self: flex-start;
  padding: 0.1rem 1.7rem 0.3rem 1rem;
  margin: 0.2rem 0.06rem 0rem 0.06rem;
  transition: 0.2s ease-in-out;
  font-size: 1.1rem;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 0.05rem;
  text-decoration: none;
  border-radius: 10px 10px 0px 0px;
  transition: 0.2s ease;
}
@media (max-width: 700px) {
  .browser-tabs .nav-tab {
    padding: 0.1rem 0.5rem 0.3rem 0.5rem;
  }
}
@media (max-width: 700px) {
  .browser-tabs .nav-tab > span {
    display: none;
  }
}
.browser-tabs .nav-tab > svg {
  transition: color 0.2s ease;
}
@media (max-width: 1050px) and (min-width: 700px) {
  .browser-tabs .nav-tab > svg {
    display: none;
  }
}
.theme--light .browser-tabs .nav-tab {
  color: #0f0f10;
  background-color: #f0f2f4;
}
.theme--dark .browser-tabs .nav-tab {
  color: #d6d6d7;
  background-color: #212121;
}
.browser-tabs .nav-tab:hover {
  cursor: pointer;
}
.theme--light .browser-tabs .nav-tab:hover {
  background-color: white;
}
.theme--light .browser-tabs .nav-tab:hover > svg {
  color: #f5a300;
}
.theme--dark .browser-tabs .nav-tab:hover {
  background-color: #303030;
}
.theme--dark .browser-tabs .nav-tab:hover > svg {
  color: #ffaa00;
}
.theme--light .browser-tabs .nav-tab.active-tab {
  background-color: white;
}
.theme--light .browser-tabs .nav-tab.active-tab > svg {
  color: #f5a300;
}
.theme--dark .browser-tabs .nav-tab.active-tab {
  background-color: #303030;
}
.theme--dark .browser-tabs .nav-tab.active-tab > svg {
  color: #ffaa00;
}

.browser-buttons {
  margin-left: auto;
}
@media (max-width: 900px) {
  .browser-buttons {
    display: none;
  }
}
.browser-buttons .browser-button {
  margin: 0rem 0.2rem;
  --fa-secondary-opacity: 1;
}
.theme--light .browser-buttons .browser-button:first-of-type {
  color: #50d83b;
  filter: drop-shadow(0px 0px 1px #a1a1a1);
}
.theme--dark .browser-buttons .browser-button:first-of-type {
  color: #4cd71d;
  filter: drop-shadow(0px 0px 1px #151519);
}
.theme--light .browser-buttons .browser-button:nth-of-type(2n) {
  color: #fac83d;
  filter: drop-shadow(0px 0px 1px #a1a1a1);
}
.theme--dark .browser-buttons .browser-button:nth-of-type(2n) {
  color: #ebbe19;
  filter: drop-shadow(0px 0px 1px #151519);
}
.theme--light .browser-buttons .browser-button:last-of-type {
  color: #fc6159;
  filter: drop-shadow(0px 0px 1px #a1a1a1);
}
.theme--dark .browser-buttons .browser-button:last-of-type {
  color: #f6373a;
  filter: drop-shadow(0px 0px 1px #151519);
}

.url-bar {
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row nowrap;
  padding: 0rem 0.5rem;
  z-index: 2;
}
.theme--light .url-bar {
  background-color: white;
  color: #0f0f10;
  box-shadow: 0px 0px 5px #a1a1a1;
}
.theme--dark .url-bar {
  background-color: #303030;
  color: #d6d6d7;
  box-shadow: 0px 0px 5px #151519;
}
@media (max-width: 640px) {
  .url-bar > :first-child {
    margin-right: auto;
  }
  .url-bar > :nth-child(2) {
    margin-left: auto;
  }
}
.url-bar .browser-control-button {
  display: inline-block;
}
.url-bar button {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  margin: 0rem 0.2rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}
.theme--light .url-bar button {
  color: #0f0f10;
}
.theme--dark .url-bar button {
  color: #d6d6d7;
}
.url-bar button:hover {
  cursor: pointer;
  --fa-secondary-opacity: 0.6;
}
.theme--light .url-bar button:hover {
  background-color: #dbdee1;
  color: #f5a300;
}
.theme--dark .url-bar button:hover {
  background-color: #4f4f4f;
  color: #ffaa00;
}
.url-bar .faux-url {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 0.2s ease;
  flex-grow: 1;
  font-size: 1rem;
  padding: 0rem 0.1rem 0rem 0.5rem;
  margin: auto 1rem;
  border-radius: 10px;
  height: 80%;
}
@media (max-width: 640px) {
  .url-bar .faux-url {
    display: none;
  }
}
.url-bar .faux-url > :first-child {
  margin-right: 0.5rem;
}
.url-bar .faux-url .url {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 0.5rem;
}
.url-bar .faux-url .url-end {
  margin-left: auto;
}
.url-bar .faux-url .url-end button {
  margin: 0.2rem;
  display: inline-block;
}
.url-bar .faux-url .url-end button > svg {
  margin: 0rem 0.4rem;
}
@media (max-width: 900px) {
  .url-bar .faux-url .url-end {
    display: none;
  }
}
.url-bar .faux-url h1 {
  font-size: 1rem;
  text-transform: lowercase;
  word-spacing: -0.2rem;
  font-weight: 300;
}
.url-bar .faux-url input[type=text] {
  background-color: transparent;
  font-size: 1rem;
  border: none;
  padding: 0.2rem 1rem 0.2rem 0rem;
}
.theme--light .url-bar .faux-url input[type=text] {
  color: #0f0f10;
}
.theme--dark .url-bar .faux-url input[type=text] {
  color: #d6d6d7;
}
@media (max-width: 900px) {
  .url-bar .faux-url input[type=text] {
    display: none;
  }
}
.theme--light .url-bar .faux-url {
  background-color: #f0f2f4;
}
.theme--dark .url-bar .faux-url {
  background-color: #212121;
}
.theme--light .url-bar .faux-url:focus-within {
  background-color: #dbdee1;
}
.theme--dark .url-bar .faux-url:focus-within {
  background-color: #4f4f4f;
}

.dropdown-container {
  position: absolute;
  right: 3rem;
  top: 6rem;
  width: 300px;
  padding: 0.5rem;
  border-radius: 15px;
  z-index: 50;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  transition: height 0.2s ease;
}
@media (max-width: 600px) {
  .dropdown-container {
    top: 4rem;
    right: 1rem;
  }
}
.theme--light .dropdown-container {
  background-color: white;
  box-shadow: 2px 2px 10px #a1a1a1;
  color: #0f0f10;
}
.theme--dark .dropdown-container {
  background-color: #262626;
  box-shadow: 2px 2px 10px #151519;
  color: #d6d6d7;
}
.dropdown-container .menu {
  width: 15rem;
  padding: 0.2rem;
  text-align: left;
}
.dropdown-container .menu a {
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
.dropdown-container .menu-item {
  height: 4rem;
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  transition: background 0.3s ease;
  padding: 0.5rem;
  margin: 0.2rem;
}
.dropdown-container .menu-item .dropdown-icon {
  padding: 0.2rem;
  font-size: 1.5rem;
}
.dropdown-container .menu-item .dropdown-descriptor {
  font-size: 0.8rem;
  color: var(--fontsecondary);
}
.theme--light .dropdown-container .menu-item .dropdown-descriptor {
  color: #7f8790;
}
.theme--dark .dropdown-container .menu-item .dropdown-descriptor {
  color: #8e9095;
}
.dropdown-container .menu-item .dropdown-item-name {
  padding: 8px;
  text-align: left;
}
.dropdown-container .menu-item .dropdown-icon-right {
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: 6px;
}
.theme--light .dropdown-container .menu-item:hover .dropdown-item-name {
  color: #111112;
}
.theme--light .dropdown-container .menu-item:hover .dropdown-item-name .dropdown-descriptor {
  color: #7f8790;
}
.theme--dark .dropdown-container .menu-item:hover .dropdown-item-name {
  color: #f2f2f2;
}
.theme--dark .dropdown-container .menu-item:hover .dropdown-item-name .dropdown-descriptor {
  color: #8e9095;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all 300ms ease;
}

.menu-primary-exit-active {
  transform: translate(-110%);
  transition: all 300ms ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  transform: translateX(-100%);
  transition: all 300ms ease;
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all 300ms ease;
}

.page.not-found section {
  padding: 1rem 4rem;
  border-radius: 15px;
  transition: background-color 0.2s ease, color 0.2s ease;
  max-width: 95%;
}
.theme--light .page.not-found section em {
  color: #7f8790;
}
.theme--dark .page.not-found section em {
  color: #8e9095;
}
.page.not-found section button {
  font-size: 1.3rem;
  padding: 0.65rem 1.95rem;
  border-radius: 15px;
  border: none;
  margin: 1.3rem;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.page.not-found section button:hover {
  cursor: pointer;
}
.page.not-found section button > svg {
  margin-right: 0.7rem;
  --fa-secondary-opacity: 0.7;
}
.theme--light .page.not-found section button {
  background-color: #ebedef;
  box-shadow: 1px 1px 5px #9191a1;
  color: #7f8790;
}
.theme--light .page.not-found section button:hover {
  background-color: #f5a300;
  color: #111112;
  box-shadow: none;
}
.theme--light .page.not-found section button:active {
  box-shadow: inset 1px 1px 3px #9191a1;
}
.theme--dark .page.not-found section button {
  background-color: #282a2e;
  box-shadow: 1px 1px 5px #020203;
  color: #8e9095;
}
.theme--dark .page.not-found section button:hover {
  background-color: #ffaa00;
  color: #f2f2f2;
  box-shadow: none;
}
.theme--dark .page.not-found section button:active {
  box-shadow: inset 1px 1px 3px #020203;
}
.page.not-found section > svg {
  font-size: 4rem;
  --fa-secondary-opacity: 0.4;
  margin: 1rem;
}
.theme--light .page.not-found section > svg {
  color: #f5a300;
}
.theme--dark .page.not-found section > svg {
  color: #ffaa00;
}
.theme--light .page.not-found section {
  background-color: white;
  box-shadow: inset 0px 0px 10px #9191a1;
}
.theme--dark .page.not-found section {
  background-color: #36393f;
  box-shadow: inset 0px 0px 10px #020203;
}

.home .top-bar {
  height: 3rem;
  margin: 0;
  padding: 4px 1.5%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.theme--light .home .top-bar {
  background-color: white;
  color: #111112;
  box-shadow: 0px 0px 5px #9191a1;
}
.theme--dark .home .top-bar {
  background-color: #36393f;
  color: #f2f2f2;
  box-shadow: 0px 0px 5px #020203;
}
.home .parallax {
  max-width: 96%;
  max-height: 80%;
}
.home section {
  width: 100%;
}
.home .hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  transform: translateY(-45rem);
  height: 0px;
  padding: 0rem 1rem;
}
.home .hero .logo {
  width: 25%;
  max-width: 95%;
  min-width: 200px;
}
.theme--light .home .hero .logo {
  filter: drop-shadow(2px 2px 3px #9191a1);
}
.theme--dark .home .hero .logo {
  filter: drop-shadow(2px 2px 3px #020203);
}
.home .hero h2 {
  font-size: 3rem;
  text-align: left;
  font-weight: 600;
  margin-left: 2rem;
  line-height: 2.8rem;
}
.theme--light .home .hero h2 {
  color: #7f8790;
}
.theme--dark .home .hero h2 {
  color: #8e9095;
}
.home .hero h2 .title-name {
  font-weight: 900;
  font-size: 6rem;
  line-height: 5rem;
}
.theme--light .home .hero h2 .title-name {
  color: #f5a300;
  filter: drop-shadow(1px 1px 2px #9191a1);
}
.theme--dark .home .hero h2 .title-name {
  color: #ffaa00;
  filter: drop-shadow(1px 1px 2px #020203);
}
@media (max-width: 1200px) {
  .home .hero h2 {
    margin: 0rem auto;
  }
  .home .hero .logo {
    margin: 1rem;
  }
}
@media (max-width: 1060px) {
  .home .hero .h2 {
    width: 100%;
  }
  .home .hero .logo {
    margin: -3rem auto -15rem auto;
  }
}
@media (max-width: 850px) {
  .home .hero h2 {
    max-width: 90%;
    font-size: 2.5rem;
  }
  .home .hero h2 .title-name {
    font-size: 5rem;
  }
}
@media (max-width: 600px) {
  .home .hero .logo {
    margin: -12rem auto -10rem auto;
    width: 60%;
  }
}
@media (max-width: 280px) and (max-height: 653px) {
  .home .hero .logo {
    margin: -2rem auto -14rem auto;
  }
}
@media (max-width: 360px) and (max-height: 740px) {
  .home .hero .logo {
    margin: -3rem auto -10rem auto;
  }
}
@media (width: 768px) and (height: 1368px) {
  .home .hero .logo {
    margin: -10rem auto -10rem auto;
    width: 60%;
  }
}
@media (max-width: 916px) and (max-height: 540px) {
  .home .hero {
    padding-top: 25rem;
  }
  .home .hero .logo {
    width: 20%;
  }
  .home .hero h2 {
    width: 70%;
  }
}
@media (max-width: 400px) {
  .home .hero h2 {
    max-width: 90%;
    font-size: 2.5rem;
  }
  .home .hero h2 .title-name {
    font-size: 4rem;
    line-height: 3.2rem;
  }
  .home .hero .logo {
    width: 80%;
  }
}
.home .cta-section {
  height: auto;
  padding: 3.4rem 0rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #111112;
}
.theme--light .home .cta-section {
  background-color: #f5a300;
  box-shadow: inset 0px 2px 6px #9191a1;
}
.theme--dark .home .cta-section {
  background-color: #ffaa00;
  box-shadow: inset 0px 2px 6px #020203;
}
.home .cta-section .cta-container {
  text-align: left;
  width: 100%;
}
.home .cta-section .customer-problem {
  font-size: 2rem;
  font-weight: 300;
  width: 80%;
  max-width: 800px;
  margin: 2rem auto 2rem 11.5%;
}
.home .cta-section .big-cta {
  text-align: left;
  margin: 0px 10%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
.home .cta-section .big-cta h3 {
  margin: 0;
  padding: 0;
  padding-left: 1.7rem;
  width: 50%;
  min-width: 22.2rem;
  color: #fff;
  font-size: 5rem;
  border-left: 0.3rem solid #fff;
}
.theme--light .home .cta-section .big-cta h3 {
  filter: drop-shadow(1px 1px 3px #9191a1);
}
.theme--dark .home .cta-section .big-cta h3 {
  filter: drop-shadow(1px 1px 3px #020203);
}
.home .cta-section .big-cta button {
  font-size: 2rem;
  font-weight: 600;
  width: fit-content;
  padding: 0.8rem;
  border: none;
  border-radius: 15px;
  transition: 0.2s ease;
  margin: 1rem;
  flex-flow: column nowrap;
}
.theme--light .home .cta-section .big-cta button {
  box-shadow: 2px 2px 10px #9191a1;
  background-color: white;
  color: #111112;
}
.theme--dark .home .cta-section .big-cta button {
  box-shadow: 2px 2px 10px #020203;
  background-color: #36393f;
  color: #f2f2f2;
}
.home .cta-section .big-cta button .icon {
  margin: 0rem 0.6rem;
  font-size: 3rem;
}
.home .cta-section .big-cta button span {
  margin: 0.3rem 1rem;
}
.home .cta-section .big-cta button:hover {
  cursor: pointer;
}
.theme--light .home .cta-section .big-cta button:hover {
  background-color: #e6e8ea;
  box-shadow: none;
}
.theme--dark .home .cta-section .big-cta button:hover {
  background-color: #3f434a;
  box-shadow: none;
}
.theme--light .home .cta-section .big-cta button:active {
  background-color: #dde0e3;
  box-shadow: inset 1px 1px 3px #9191a1;
}
.theme--dark .home .cta-section .big-cta button:active {
  background-color: #212326;
  box-shadow: inset 1px 1px 3px #020203;
}
@media (max-width: 600px) {
  .home .cta-section .big-cta {
    margin: 0;
  }
  .home .cta-section .big-cta h3 {
    font-size: 2.5rem;
    border-left: none;
    padding-left: 0;
    text-align: center;
    width: 80vw;
  }
  .home .cta-section .big-cta button {
    padding: 0.8rem;
    font-size: 2rem;
  }
}

.about {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row nowrap;
}
.theme--light .about {
  background-image: linear-gradient(to left, #9191a1, #9191a1 20%, transparent 50%);
  background-color: #dde0e3;
}
.theme--dark .about {
  background-image: linear-gradient(to left, #020203, #020203 20%, transparent 50%);
  background-color: #212326;
}
.about h2 {
  font-size: 2rem;
  font-weight: 200;
  margin-left: 4rem;
}
.about .category-choice {
  text-align: left;
  max-width: 800px;
  width: max-content;
  height: 100%;
  margin-right: 1rem;
}
.about .category-choice button {
  border: none;
  margin: 0rem;
  width: 100%;
  font-size: 1rem;
  height: 10%;
  z-index: 5;
  padding: 0.8rem;
}
.about .category-choice button:hover {
  cursor: pointer;
}
.theme--light .about .category-choice button {
  background-color: #f1f2f4;
  color: #111112;
  box-shadow: 2px 2px 4px #9191a1;
}
.theme--light .about .category-choice button:hover {
  background-color: #e6e8ea;
}
.theme--dark .about .category-choice button {
  background-color: #2f3137;
  color: #f2f2f2;
  box-shadow: 2px 2px 4px #020203;
}
.theme--dark .about .category-choice button:hover {
  background-color: #3f434a;
}
.about .card-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
  width: 100%;
}
.about .skill-card {
  width: 300px;
  height: 125px;
  margin: 1rem;
  padding: 0.1rem 1rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: 0.2s ease;
}
.about .skill-card:hover {
  transform: scale(110%);
}
.about .skill-card h4 {
  font-size: 1.2rem;
}
.about .skill-card h4:hover {
  cursor: default;
}
.about .skill-card a {
  float: right;
  color: inherit;
  transition: 0.2s ease;
  font-size: 0.9rem;
}
.theme--light .about .skill-card a {
  color: #7f8790;
}
.theme--dark .about .skill-card a {
  color: #8e9095;
}
.theme--light .about .skill-card a:hover {
  color: #f5a300;
}
.theme--dark .about .skill-card a:hover {
  color: #ffaa00;
}
.about .skill-card .skill-details {
  text-align: left;
  width: 100%;
}
.about .skill-card .dev-icon {
  height: 80%;
  margin-right: 1rem;
  font-size: 4rem;
  max-width: 35%;
}
.theme--light .about .skill-card .dev-icon {
  filter: drop-shadow(1px 1px 2px #9191a1);
}
.theme--dark .about .skill-card .dev-icon {
  filter: drop-shadow(1px 1px 2px #020203);
}
.about .skill-card .skill-level {
  max-width: 100%;
}
.about .skill-card .skill-level .level-indicator {
  margin: 0rem 1px;
  font-size: 0.8rem;
}
.theme--light .about .skill-card .skill-level .level-indicator {
  color: #f5a300;
}
.theme--dark .about .skill-card .skill-level .level-indicator {
  color: #ffaa00;
}
.about .skill-card .skill-level .level-indicator.filled {
  --fa-secondary-opacity: 1;
}
.about .skill-card .skill-description-tooltip {
  position: absolute;
  width: 60%;
  height: auto;
  padding: 0.5rem;
  border-radius: 10px;
  z-index: 25;
  text-align: left;
}
.about .skill-card .skill-description-tooltip:hover {
  cursor: default;
}
.theme--light .about .skill-card .skill-description-tooltip {
  background-color: #f1f2f4;
  box-shadow: 2px 2px 10px #9191a1;
}
.theme--dark .about .skill-card .skill-description-tooltip {
  background-color: #2f3137;
  box-shadow: 2px 2px 10px #020203;
}
.theme--light .about .skill-card {
  background-color: white;
  box-shadow: 2px 2px 10px #9191a1;
}
.theme--dark .about .skill-card {
  background-color: #36393f;
  box-shadow: 2px 2px 10px #020203;
}
.about .about-carousel {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column nowrap;
  overflow: hidden;
}
.about .about-carousel .category-section {
  height: 100%;
  width: 100%;
  text-align: left;
}
.about .about-carousel .category-section section {
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-flow: column nowrap;
  padding: 1rem 0rem 0rem 2rem;
}
.about .about-carousel .category-section h3, .about .about-carousel .category-section .main-about-title {
  font-size: 3rem;
  padding-left: 3rem;
  font-weight: 700;
}
.about .about-carousel .category-section p {
  font-size: 1.4rem;
  padding-left: 4rem;
}
.about .about-carousel .category-section .card-container {
  align-items: flex-end;
  overflow-y: scroll;
  z-index: 2;
}
.about .about-carousel .carousel-primary-enter {
  transform: translateY(100%);
  opacity: 0;
}
.about .about-carousel .carousel-primary-enter-active {
  transform: translateY(0%);
  opacity: 1;
  transition: all 0.5s ease;
}
.about .about-carousel .carousel-primary-exit-active {
  transform: translateY(100%);
  transition: all 0.5s ease;
  opacity: 0;
}
.about .about-carousel .carousel-secondary-enter {
  transform: translateY(100%);
  opacity: 0;
}
.about .about-carousel .carousel-secondary-enter-active {
  transform: translateY(2%);
  opacity: 1;
  transition: all 0.5s ease;
}
.about .about-carousel .carousel-secondary-exit-active {
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.5s ease;
}
.about .about-carousel .background-svg {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: contain;
  object-position: right top;
  position: absolute;
  padding: 3rem 0rem 3rem 3rem;
}
.about .about-carousel .background-svg > svg {
  opacity: 0.2;
  max-height: 80%;
  object-fit: contain;
}
.about .about-carousel .background-svg .carousel-background-enter {
  opacity: 0;
}
.about .about-carousel .background-svg .carousel-background-enter-active {
  opacity: 0.3;
  transition: opacity 0.3s ease;
}
.about .about-carousel .background-svg .carousel-background-exit-active {
  opacity: 0;
}

.floating-icons {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-around;
  font-size: 2.5rem;
}
.floating-icons .floating-icon {
  transform: translateY(3rem);
  --fa-secondary-opacity: 0.7;
}
.floating-icons .floating-icon:first-child {
  animation: 10s floatup linear 8s infinite;
}
.theme--light .floating-icons .floating-icon:first-child {
  color: #f5a300;
}
.theme--dark .floating-icons .floating-icon:first-child {
  color: #ffaa00;
}
.floating-icons .floating-icon:nth-child(2) {
  animation: 12s floatup linear 16s infinite;
}
.theme--light .floating-icons .floating-icon:nth-child(2) {
  color: #7f8790;
}
.theme--dark .floating-icons .floating-icon:nth-child(2) {
  color: #8e9095;
}
.floating-icons .floating-icon:nth-child(3) {
  animation: 14s floatup linear 2s infinite;
}
.theme--light .floating-icons .floating-icon:nth-child(3) {
  color: #f0d54c;
}
.theme--dark .floating-icons .floating-icon:nth-child(3) {
  color: #ffeb85;
}
.floating-icons .floating-icon:nth-child(4) {
  animation: 10s floatup linear 10s infinite;
}
.theme--light .floating-icons .floating-icon:nth-child(4) {
  color: #111112;
}
.theme--dark .floating-icons .floating-icon:nth-child(4) {
  color: #f2f2f2;
}
.floating-icons .floating-icon:nth-child(5) {
  animation: 16s floatup linear 6s infinite;
}
.theme--light .floating-icons .floating-icon:nth-child(5) {
  color: #7f8790;
}
.theme--dark .floating-icons .floating-icon:nth-child(5) {
  color: #8e9095;
}
.floating-icons .floating-icon:nth-child(6) {
  animation: 12s floatup linear 4s infinite;
}
.theme--light .floating-icons .floating-icon:nth-child(6) {
  color: #f0c800;
}
.theme--dark .floating-icons .floating-icon:nth-child(6) {
  color: #ffdd33;
}
.floating-icons .floating-icon:nth-child(7) {
  animation: 10s floatup linear 12s infinite;
}
.theme--light .floating-icons .floating-icon:nth-child(7) {
  color: #f5a300;
}
.theme--dark .floating-icons .floating-icon:nth-child(7) {
  color: #ffaa00;
}
.floating-icons .floating-icon:nth-child(8) {
  animation: 12s floatup linear 16s infinite;
}
.theme--light .floating-icons .floating-icon:nth-child(8) {
  color: #111112;
}
.theme--dark .floating-icons .floating-icon:nth-child(8) {
  color: #f2f2f2;
}
.floating-icons .floating-icon:nth-child(9) {
  animation: 14s floatup linear 8s infinite;
}
.theme--light .floating-icons .floating-icon:nth-child(9) {
  color: #7f8790;
}
.theme--dark .floating-icons .floating-icon:nth-child(9) {
  color: #8e9095;
}
.floating-icons .floating-icon:nth-child(10) {
  animation: 16s floatup linear 6s infinite;
}
.theme--light .floating-icons .floating-icon:nth-child(10) {
  color: #f0d54c;
}
.theme--dark .floating-icons .floating-icon:nth-child(10) {
  color: #ffeb85;
}

@keyframes floatup {
  0% {
    transform: translateY(3rem) rotate(320deg);
    opacity: 0.4;
  }
  40% {
    transform: translateY(-1200%) rotate(20deg);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=App.css.map */
